* {
  margin: 0 0;
  padding: 0 0;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(to right bottom, #663131, #280003, #200606);
  background-repeat: no-repeat;
  background-size: cover;
}

#calc-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 0;
  width: 22em;
  background-color: #280003;
  border-radius: 1.5em;
  border: 3px outset #ffc857;
  box-shadow: 2px 2px 5px #280003;
  font-family:'Courier New', Courier, monospace;
}

#sasio {
  padding-left: 1.5em;
  color: #ffc857;
  line-height: 0.5;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  font-size: 12px;
}

#display {
  margin: 0 auto;
  margin-top: 0.2em;
  padding: 0 0.5em;
  width: 9em;
  height: 1.5em;
  overflow: hidden;
  background-color: #437F97;
  border-radius: 0.2em;
  color: #ffc857;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  text-align: end;
  text-overflow: ellipsis;
  font-size: 2em;
  text-shadow: 2px 2px 5px #280003;
}

.button-block {
  padding: 1em 1em;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 1em;
}

.digits-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: baseline;
}

.operators-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: baseline;
}

button {
  margin: 0.2em;
  background-color: #ffc857;
  border-radius: 0.3em;
  border-color: #ffc857;
  color: #280003;
  font-weight: bolder;
  font-size: 1em;
}

button:focus {
  outline: none;
}

#clear {
  background-color: #99291E;
  border-color: #99291E;
  color: #ffc857;
}

#equals {
  grid-column-start: 1;
  grid-column-end: 3;
}

#dot {
  grid-column-start: 2;
  grid-column-end: 4;
}

#status {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  font-family:'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: #ffc857;
  text-shadow: 5px 5px 12px #ffc857;
}

@media screen and (max-width: 400px) {
#calc-body {
  width: 15em;
}

#display {
  width: 9em;
  font-size: 1.3em;
}
}